.App {
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.card {
  background-color: rgb(174, 175, 197);
  border-radius: 30px;
  height: 50vh;
  width: 50vw;
  box-shadow: inset 8px 8px 16px #251f1f,
    inset -8px -8px 16px #f5c1c1;
  align-items: center;
}

.Holder {

  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #bd9797;


}